In [1]:
import pandas as pd

In [2]:
aiddata = pd.read_csv("/Users/Bayernlad/Downloads/aiddata-countries-only.csv")

In [3]:
pd.read_csv("/Users/Bayernlad/Downloads/aiddata-countries-only.csv")

,Unnamed: 0,aiddata_id,aiddata_2_id,year,donor,recipient,commitment_amount_usd_constant,coalesced_purpose_code,coalesced_purpose_name
0,1,2.414478e+06,NaN,1977,Saudi Arabia,India,348718518.0,23030,Power generation/renewable sources
1,2,2.414509e+06,NaN,1977,Saudi Arabia,Brazil,191647004.0,23040,Electrical transmission/ distribution
2,3,2.414635e+06,NaN,1983,Saudi Arabia,India,79371799.0,21030,Rail transport
3,4,2.414665e+06,NaN,1984,Saudi Arabia,Taiwan,212202942.0,21030,Rail transport
4,5,2.414667e+06,NaN,1984,Saudi Arabia,Korea,134511154.0,21040,Water transport
5,6,2.414684e+06,NaN,1985,Saudi Arabia,India,128074768.0,23000,"Energy generation and supply, combinations of ..."
6,7,2.414760e+06,NaN,1987,Saudi Arabia,India,72707674.0,21040,Water transport
7,8,2.414840e+06,NaN,1993,Kuwait,Cyprus,25461230.0,21020,Road transport
8,9,2.415076e+06,NaN,1996,Kuwait,Lithuania,21381183.0,23050,Gas distribution
9,10,2.415206e+06,NaN,1998,Kuwait,India,1107033.0,21020,Road transport
10,11,2.426999e+06,NaN,1978,Kuwait,India,103885863.0,23000,"Energy generation and supply, combinations of ..."
11,12,2.427052e+06,NaN,1976,Kuwait,India,193588873.0,23030,Power generation/renewable sources
12,13,2.427058e+06,NaN,1976,Kuwait,Thailand,12905925.0,23040,Electrical transmission/ distribution
13,14,2.427115e+06,NaN,2001,Kuwait,Slovak Republic,1219994.0,14020,Water supply and sanitation - large systems
14,15,2.428296e+06,NaN,1992,Kuwait,Cyprus,6635123.0,21020,Road transport
15,16,2.428502e+06,NaN,1989,Kuwait,India,43493083.0,31320,Fishery development
16,17,2.428506e+06,NaN,1988,Kuwait,Cyprus,16145060.0,21020,Road transport
17,18,2.428566e+06,NaN,1988,Kuwait,Cyprus,27769503.0,14020,Water supply and sanitation - large systems
18,19,2.428587e+06,NaN,1986,Kuwait,Cyprus,30606432.0,21020,Road transport
19,20,2.428601e+06,NaN,1986,Kuwait,India,53561256.0,23030,Power generation/renewable sources
20,21,2.428623e+06,NaN,1984,Kuwait,Cyprus,27051193.0,14040,River development
21,22,2.428652e+06,NaN,1983,Kuwait,India,133092433.0,32220,Mineral/Metal prospection and exploration
22,23,2.428882e+06,NaN,1982,Kuwait,India,131175647.0,32120,Industrial development
23,24,2.428885e+06,NaN,1982,Kuwait,Thailand,50452172.0,23030,Power generation/renewable sources
24,25,2.428888e+06,NaN,1983,Kuwait,Cyprus,21878208.0,21020,Road transport
25,26,2.428969e+06,NaN,1981,Kuwait,India,83971160.0,43010,Multisector aid
26,27,2.428974e+06,NaN,1981,Kuwait,Thailand,65310902.0,23020,Power generation/non-renewable sources
27,28,2.429003e+06,NaN,1981,Kuwait,India,149282062.0,23020,Power generation/non-renewable sources
28,29,2.429034e+06,NaN,1979,Kuwait,Thailand,59307807.0,23000,"Energy generation and supply, combinations of ..."
29,30,2.429037e+06,NaN,1980,Kuwait,Cyprus,23153412.0,14040,River development
...,...,...,...,...,...,...,...,...,...
98510,98511,9.060009e+11,NaN,2013,Portugal,Chile,109.0,16061,Culture and recreation
98511,98512,9.060009e+11,NaN,2013,Poland,Brazil,63571.0,11420,Higher education
98512,98513,9.060009e+11,NaN,2013,Greece,India,24288.0,11420,Higher education
98513,98514,9.060009e+11,NaN,2013,Poland,Brazil,1657.0,11420,Higher education
98514,98515,9.060009e+11,NaN,2013,Poland,Brazil,4141.0,11420,Higher education
98515,98516,9.060009e+11,NaN,2013,Greece,Brazil,25253.0,11420,Higher education
98516,98517,9.060009e+11,NaN,2013,Portugal,Brazil,17651.0,24020,Monetary institutions
98517,98518,9.060009e+11,NaN,2013,Slovak Republic,Chile,2296.0,11420,Higher education
98518,98519,9.060009e+11,NaN,2013,Greece,Chile,1671.0,11420,Higher education
98519,98520,9.060009e+11,NaN,2013,Portugal,Brazil,197649.0,43082,Research/scientific institutions
98520,98521,9.060009e+11,NaN,2013,New Zealand,India,7911.0,11420,Higher education
98521,98522,9.060009e+11,NaN,2013,New Zealand,Brazil,81580.0,24030,Formal sector financial intermediaries
98522,98523,9.060009e+11,NaN,2013,New Zealand,Brazil,52072.0,11420,Higher education
98523,98524,9.060009e+11,NaN,2013,New Zealand,Chile,73769.0,15110,Economic and development policy/planning
98524,98525,9.060009e+11,NaN,2013,New Zealand,South Africa,112232.0,91010,Administrative costs
98525,98526,9.060009e+11,NaN,2013,New Zealand,India,954657.0,16030,Housing policy and administrative management
98526,98527,9.060009e+11,NaN,2013,New Zealand,Chile,245607.0,11420,Higher education
98527,98528,9.060009e+11,NaN,2013,New Zealand,Colombia,244739.0,31100,"Agriculture, combinations of purposes in Agric..."
98528,98529,9.060009e+11,NaN,2013,New Zealand,South Africa,27772.0,11420,Higher education
98529,98530,9.060009e+11,NaN,2013,New Zealand,South Africa,77240.0,15110,Economic and development policy/planning
98530,98531,9.060009e+11,NaN,2013,New Zealand,Thailand,60751.0,11320,Secondary education
98531,98532,9.060009e+11,NaN,2013,Czech Republic,Brazil,4001.0,11320,Secondary education
98532,98533,9.060009e+11,NaN,2013,Czech Republic,Thailand,127.0,15110,Economic and development policy/planning
98533,98534,9.060009e+11,NaN,2013,Czech Republic,Chile,3678.0,15110,Economic and development policy/planning
98534,98535,9.060009e+11,NaN,2013,Czech Republic,South Africa,2382.0,11105,"Education, level unspecified, purpose unspecif..."
98535,98536,9.060009e+11,NaN,2013,Czech Republic,Colombia,51840.0,11420,Higher education
98536,98537,9.060009e+11,NaN,2013,Czech Republic,India,35380.0,72010,Material relief assistance and services
98537,98538,9.060009e+11,NaN,2013,Czech Republic,India,11930.0,11420,Higher education
98538,98539,9.060009e+11,NaN,2013,Czech Republic,Brazil,6669.0,16010,Social/ welfare services
98539,98540,9.060009e+11,NaN,2013,Czech Republic,Chile,7145.0,11120,Education facilities and training

In [4]:
p = aiddata.groupby(["year","donor"],as_index=False)["commitment_amount_usd_constant"].sum()
p=p.rename(columns={'year':'year','donor':'Country','commitment_amount_usd_constant' : 'donated'})
print(p)

     year          Country       donated
0    1973        Australia  4.628586e+07
1    1973          Belgium  3.925134e+07
2    1973           Canada  4.379284e+08
3    1973           France  2.471896e+08
4    1973          Germany  5.622324e+08
5    1973            Italy  1.667191e+08
6    1973            Japan  9.389659e+08
7    1973      Netherlands  1.627509e+08
8    1973           Norway  3.587485e+07
9    1973           Sweden  1.683693e+08
10   1973      Switzerland  1.406094e+07
11   1973   United Kingdom  4.425792e+08
12   1973    United States  1.553264e+09
13   1974        Australia  2.695088e+07
14   1974          Austria  2.412633e+07
15   1974          Belgium  4.358860e+07
16   1974           Canada  6.850216e+07
17   1974          Denmark  5.683929e+07
18   1974           France  3.673847e+08
19   1974          Germany  6.981681e+08
20   1974            Japan  2.730202e+09
21   1974      Netherlands  3.234684e+08
22   1974           Norway  9.488752e+07
23   1974           Sweden  3.029933e+07
24   1974      Switzerland  6.454953e+07
25   1974   United Kingdom  1.405379e+09
26   1974    United States  8.710922e+08
27   1975        Australia  7.769178e+07
28   1975          Belgium  3.886331e+07
29   1975           Canada  9.302768e+07
..    ...              ...           ...
804  2012   United Kingdom  3.864977e+08
805  2012    United States  1.093497e+09
806  2013        Australia  6.726506e+07
807  2013          Austria  7.169039e+06
808  2013          Belgium  6.831735e+07
809  2013           Canada  5.478420e+07
810  2013   Czech Republic  1.231520e+05
811  2013          Denmark  4.941770e+06
812  2013          Finland  1.393371e+07
813  2013           France  1.247092e+09
814  2013          Germany  1.582597e+09
815  2013           Greece  2.221310e+05
816  2013          Iceland  1.334180e+05
817  2013          Ireland  1.128518e+07
818  2013            Italy  2.367975e+07
819  2013            Japan  2.641200e+09
820  2013            Korea  3.973233e+08
821  2013       Luxembourg  7.645306e+06
822  2013      Netherlands  1.105506e+07
823  2013      New Zealand  1.938330e+06
824  2013           Norway  2.950173e+08
825  2013           Poland  4.031840e+05
826  2013         Portugal  6.629414e+06
827  2013  Slovak Republic  4.114700e+04
828  2013         Slovenia  1.430800e+04
829  2013            Spain  5.583594e+07
830  2013           Sweden  8.227042e+07
831  2013      Switzerland  7.474490e+07
832  2013   United Kingdom  4.904481e+08
833  2013    United States  1.059333e+09

[834 rows x 3 columns]

In [5]:
p1 = aiddata.groupby(["year","recipient"],as_index=False)["commitment_amount_usd_constant"].sum()
p1=p1.rename(columns={'year':'year','recipient':'Country','commitment_amount_usd_constant' : 'received'})
print(p1)

     year               Country      received
0    1973                Brazil  3.120750e+08
1    1973                 Chile  8.805608e+07
2    1973              Colombia  5.499448e+08
3    1973                Cyprus  9.613414e+06
4    1973                 India  2.285257e+09
5    1973                 Korea  1.363707e+09
6    1973                Kuwait  3.254830e+05
7    1973          Saudi Arabia  6.509700e+04
8    1973              Thailand  2.063634e+08
9    1973  United Arab Emirates  6.509700e+04
10   1974                Brazil  3.066010e+08
11   1974                 Chile  2.576892e+08
12   1974              Colombia  2.035458e+08
13   1974                Cyprus  1.643228e+07
14   1974                 India  3.697747e+09
15   1974                 Korea  1.455639e+09
16   1974                Taiwan  1.150480e+05
17   1974              Thailand  8.676684e+08
18   1975                Brazil  1.007257e+08
19   1975                 Chile  3.654084e+08
20   1975              Colombia  1.457792e+08
21   1975                Cyprus  5.864941e+06
22   1975                 India  3.000656e+09
23   1975                 Korea  2.992260e+08
24   1975              Thailand  3.336400e+08
25   1976                Brazil  8.358048e+07
26   1976                 Chile  1.555513e+08
27   1976              Colombia  1.430827e+08
28   1976                Cyprus  3.102226e+07
29   1976                 India  2.233586e+09
..    ...                   ...           ...
629  2009                Taiwan  1.420200e+04
630  2009              Thailand  1.038513e+09
631  2010                Brazil  1.059211e+09
632  2010                 Chile  1.200879e+08
633  2010              Colombia  1.128442e+09
634  2010               Hungary  1.413200e+04
635  2010                 India  3.826640e+09
636  2010                 Japan  1.246730e+05
637  2010          Saudi Arabia  3.525480e+05
638  2010          South Africa  9.712085e+08
639  2010              Thailand  5.609539e+08
640  2011                Brazil  1.013211e+09
641  2011                 Chile  6.381417e+07
642  2011              Colombia  7.491562e+08
643  2011                 India  3.652446e+09
644  2011          Saudi Arabia  2.821250e+05
645  2011          South Africa  9.433905e+08
646  2011              Thailand  1.968424e+08
647  2012                Brazil  2.443208e+09
648  2012                 Chile  7.280172e+07
649  2012              Colombia  1.009768e+09
650  2012                 India  4.970366e+09
651  2012          South Africa  9.557347e+08
652  2012              Thailand  3.336224e+08
653  2013                Brazil  7.030483e+08
654  2013                 Chile  3.022933e+08
655  2013              Colombia  1.039328e+09
656  2013                 India  4.550646e+09
657  2013          South Africa  1.350212e+09
658  2013              Thailand  2.599160e+08

[659 rows x 3 columns]

In [6]:
df  = pd.merge(left=p1, right=p, on=['year','Country'], how='outer')
df=df.fillna(0)

In [7]:
df.sort_values(by=['Country','year'], inplace=True)
df['total']=df['received']+df['donated']
df.head()

     year    Country  received     donated       total
659  1973  Australia       0.0  46285863.0  46285863.0
672  1974  Australia       0.0  26950877.0  26950877.0
686  1975  Australia       0.0  77691781.0  77691781.0
699  1976  Australia       0.0  27718070.0  27718070.0
716  1977  Australia       0.0  72648152.0  72648152.0

In [22]:
df.sort_values(by=['received','year'], inplace=True, ascending=False)
df.head()

     year   Country      received    donated         total
278  1992    Poland  9.141850e+09        0.0  9.141850e+09
274  1992    Kuwait  7.406838e+09  6635123.0  7.413473e+09
398  1997  Thailand  6.371021e+09        0.0  6.371021e+09
433  1999     Korea  5.783774e+09        0.0  5.783774e+09
601  2007     India  5.386225e+09        0.0  5.386225e+09

In [23]:
df.to_csv("P2Viz1.csv")