In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("/Users/Bayernlad/Downloads/aiddata-countries-only.csv")

In [3]:
pd.read_csv("/Users/Bayernlad/Downloads/aiddata-countries-only.csv")

,Unnamed: 0,aiddata_id,aiddata_2_id,year,donor,recipient,commitment_amount_usd_constant,coalesced_purpose_code,coalesced_purpose_name
0,1,2.414478e+06,NaN,1977,Saudi Arabia,India,348718518.0,23030,Power generation/renewable sources
1,2,2.414509e+06,NaN,1977,Saudi Arabia,Brazil,191647004.0,23040,Electrical transmission/ distribution
2,3,2.414635e+06,NaN,1983,Saudi Arabia,India,79371799.0,21030,Rail transport
3,4,2.414665e+06,NaN,1984,Saudi Arabia,Taiwan,212202942.0,21030,Rail transport
4,5,2.414667e+06,NaN,1984,Saudi Arabia,Korea,134511154.0,21040,Water transport
5,6,2.414684e+06,NaN,1985,Saudi Arabia,India,128074768.0,23000,"Energy generation and supply, combinations of ..."
6,7,2.414760e+06,NaN,1987,Saudi Arabia,India,72707674.0,21040,Water transport
7,8,2.414840e+06,NaN,1993,Kuwait,Cyprus,25461230.0,21020,Road transport
8,9,2.415076e+06,NaN,1996,Kuwait,Lithuania,21381183.0,23050,Gas distribution
9,10,2.415206e+06,NaN,1998,Kuwait,India,1107033.0,21020,Road transport
10,11,2.426999e+06,NaN,1978,Kuwait,India,103885863.0,23000,"Energy generation and supply, combinations of ..."
11,12,2.427052e+06,NaN,1976,Kuwait,India,193588873.0,23030,Power generation/renewable sources
12,13,2.427058e+06,NaN,1976,Kuwait,Thailand,12905925.0,23040,Electrical transmission/ distribution
13,14,2.427115e+06,NaN,2001,Kuwait,Slovak Republic,1219994.0,14020,Water supply and sanitation - large systems
14,15,2.428296e+06,NaN,1992,Kuwait,Cyprus,6635123.0,21020,Road transport
15,16,2.428502e+06,NaN,1989,Kuwait,India,43493083.0,31320,Fishery development
16,17,2.428506e+06,NaN,1988,Kuwait,Cyprus,16145060.0,21020,Road transport
17,18,2.428566e+06,NaN,1988,Kuwait,Cyprus,27769503.0,14020,Water supply and sanitation - large systems
18,19,2.428587e+06,NaN,1986,Kuwait,Cyprus,30606432.0,21020,Road transport
19,20,2.428601e+06,NaN,1986,Kuwait,India,53561256.0,23030,Power generation/renewable sources
20,21,2.428623e+06,NaN,1984,Kuwait,Cyprus,27051193.0,14040,River development
21,22,2.428652e+06,NaN,1983,Kuwait,India,133092433.0,32220,Mineral/Metal prospection and exploration
22,23,2.428882e+06,NaN,1982,Kuwait,India,131175647.0,32120,Industrial development
23,24,2.428885e+06,NaN,1982,Kuwait,Thailand,50452172.0,23030,Power generation/renewable sources
24,25,2.428888e+06,NaN,1983,Kuwait,Cyprus,21878208.0,21020,Road transport
25,26,2.428969e+06,NaN,1981,Kuwait,India,83971160.0,43010,Multisector aid
26,27,2.428974e+06,NaN,1981,Kuwait,Thailand,65310902.0,23020,Power generation/non-renewable sources
27,28,2.429003e+06,NaN,1981,Kuwait,India,149282062.0,23020,Power generation/non-renewable sources
28,29,2.429034e+06,NaN,1979,Kuwait,Thailand,59307807.0,23000,"Energy generation and supply, combinations of ..."
29,30,2.429037e+06,NaN,1980,Kuwait,Cyprus,23153412.0,14040,River development
...,...,...,...,...,...,...,...,...,...
98510,98511,9.060009e+11,NaN,2013,Portugal,Chile,109.0,16061,Culture and recreation
98511,98512,9.060009e+11,NaN,2013,Poland,Brazil,63571.0,11420,Higher education
98512,98513,9.060009e+11,NaN,2013,Greece,India,24288.0,11420,Higher education
98513,98514,9.060009e+11,NaN,2013,Poland,Brazil,1657.0,11420,Higher education
98514,98515,9.060009e+11,NaN,2013,Poland,Brazil,4141.0,11420,Higher education
98515,98516,9.060009e+11,NaN,2013,Greece,Brazil,25253.0,11420,Higher education
98516,98517,9.060009e+11,NaN,2013,Portugal,Brazil,17651.0,24020,Monetary institutions
98517,98518,9.060009e+11,NaN,2013,Slovak Republic,Chile,2296.0,11420,Higher education
98518,98519,9.060009e+11,NaN,2013,Greece,Chile,1671.0,11420,Higher education
98519,98520,9.060009e+11,NaN,2013,Portugal,Brazil,197649.0,43082,Research/scientific institutions
98520,98521,9.060009e+11,NaN,2013,New Zealand,India,7911.0,11420,Higher education
98521,98522,9.060009e+11,NaN,2013,New Zealand,Brazil,81580.0,24030,Formal sector financial intermediaries
98522,98523,9.060009e+11,NaN,2013,New Zealand,Brazil,52072.0,11420,Higher education
98523,98524,9.060009e+11,NaN,2013,New Zealand,Chile,73769.0,15110,Economic and development policy/planning
98524,98525,9.060009e+11,NaN,2013,New Zealand,South Africa,112232.0,91010,Administrative costs
98525,98526,9.060009e+11,NaN,2013,New Zealand,India,954657.0,16030,Housing policy and administrative management
98526,98527,9.060009e+11,NaN,2013,New Zealand,Chile,245607.0,11420,Higher education
98527,98528,9.060009e+11,NaN,2013,New Zealand,Colombia,244739.0,31100,"Agriculture, combinations of purposes in Agric..."
98528,98529,9.060009e+11,NaN,2013,New Zealand,South Africa,27772.0,11420,Higher education
98529,98530,9.060009e+11,NaN,2013,New Zealand,South Africa,77240.0,15110,Economic and development policy/planning
98530,98531,9.060009e+11,NaN,2013,New Zealand,Thailand,60751.0,11320,Secondary education
98531,98532,9.060009e+11,NaN,2013,Czech Republic,Brazil,4001.0,11320,Secondary education
98532,98533,9.060009e+11,NaN,2013,Czech Republic,Thailand,127.0,15110,Economic and development policy/planning
98533,98534,9.060009e+11,NaN,2013,Czech Republic,Chile,3678.0,15110,Economic and development policy/planning
98534,98535,9.060009e+11,NaN,2013,Czech Republic,South Africa,2382.0,11105,"Education, level unspecified, purpose unspecif..."
98535,98536,9.060009e+11,NaN,2013,Czech Republic,Colombia,51840.0,11420,Higher education
98536,98537,9.060009e+11,NaN,2013,Czech Republic,India,35380.0,72010,Material relief assistance and services
98537,98538,9.060009e+11,NaN,2013,Czech Republic,India,11930.0,11420,Higher education
98538,98539,9.060009e+11,NaN,2013,Czech Republic,Brazil,6669.0,16010,Social/ welfare services
98539,98540,9.060009e+11,NaN,2013,Czech Republic,Chile,7145.0,11120,Education facilities and training

In [4]:
countries=data.recipient.unique()
print(countries)

['India' 'Brazil' 'Taiwan' 'Korea' 'Cyprus' 'Lithuania' 'Thailand'
 'Slovak Republic' 'United States' 'South Africa' 'Colombia' 'France'
 'Chile' 'Poland' 'Czech Republic' 'Romania' 'Canada' 'Australia' 'Sweden'
 'Hungary' 'Denmark' 'Finland' 'Greece' 'Austria' 'Ireland' 'Japan'
 'Luxembourg' 'Saudi Arabia' 'New Zealand' 'United Kingdom' 'Belgium'
 'Norway' 'Italy' 'Portugal' 'Qatar' 'Spain' 'Kuwait' 'Liechtenstein'
 'Latvia' 'Estonia' 'Iceland' 'Switzerland' 'Germany' 'Slovenia'
 'United Arab Emirates']

In [5]:
purpose = data.groupby(["coalesced_purpose_name","coalesced_purpose_code"])["commitment_amount_usd_constant"].sum()
df = pd.DataFrame(purpose)
##purpose_F = purpose.sort_values(['commitment_amount_usd_constant'], ascending=False)

In [6]:
purpose_F = df.sort_values(['commitment_amount_usd_constant'], ascending=False)
purpose_F.head(10)

                                                               commitment_amount_usd_constant
coalesced_purpose_name                 coalesced_purpose_code
Air transport                          21050                                     3.981248e+10
Rail transport                         21030                                     2.049887e+10
Industrial development                 32120                                     1.973854e+10
Power generation/non-renewable sources 23020                                     1.512861e+10
RESCHEDULING AND REFINANCING           60040                                     1.479750e+10
Import support (capital goods)         53030                                     9.964352e+09
Social/ welfare services               16010                                     9.206729e+09
Telecommunications                     22020                                     8.625393e+09
Power generation/renewable sources     23030                                     8.618715e+09
Sectors not specified                  99810                                     8.551354e+09

In [20]:
p = data.groupby(["recipient","coalesced_purpose_name","coalesced_purpose_code"],as_index=False)["commitment_amount_usd_constant"].sum()
p1 = pd.DataFrame(p)
p1.columns=['Country','Purpose','Code','Amount']
p1.head()

     Country                                    Purpose   Code        Amount
0  Australia                              Air transport  21050  2.414954e+09
1  Australia                     Industrial development  32120  8.970500e+06
2  Australia  Mineral/Metal prospection and exploration  32220  6.883050e+07
3  Australia               Radio/television/print media  22030  1.149053e+07
4  Australia                             Rail transport  21030  6.837255e+07

In [25]:
topfive = ["Air transport","Rail transport","Industrial development","Power generation/non-renewable sources","RESCHEDULING AND REFINANCING"]
p1 = p1[p1.Purpose.isin(topfive)]
p1["Country"].replace({"Korea": "South Korea", "Slovak Republic": "Slovakia"}, inplace=True)

In [26]:
p1.to_csv('data.csv')

In [31]:
countrydata = pd.read_json('/Users/Bayernlad/Desktop/InfoViz/Viz1/Q3/capital-geo.json')
countrydata=countrydata.rename(columns={'CountryName':'Country'})

In [32]:
result = pd.merge(p1,
                 countrydata,
                 on='Country')

In [44]:
result.sort_values(by=['ContinentName'], inplace=True)

In [42]:
result.to_csv("viz3data.csv")